
*.xcuserstate

*.xcscheme

MJ.xcodeproj/xcuserdata/Alur.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

*.xcuserstate

*.xcuserstate

*.xccheckout

MJ.xcodeproj/project.xcworkspace/xcshareddata/MJ.xccheckout

MJ.xcodeproj/project.xcworkspace/xcuserdata/harry.xcuserdatad/UserInterfaceState.xcuserstate

MJ.xcodeproj/xcuserdata/harry.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

MJ/3rd/EaseMobSDK/include/CallService/EMCallManager/delegates/EMCallManagerCallDelegate.h

MJ/3rd/EaseMobSDK/include/CallService/EMCallManager/delegates/EMCallManagerDelegate.h

MJ/3rd/EaseMobSDK/lib/libEaseMobClientSDK.a

MJ/3rd/EaseMobSDK/lib/libEaseMobClientSDKLite.a
